.col-form-label2 {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.btn-block {
    display: block;
    width: 100%;
}

.bg-info2 {
    background-color: #17a2b8 !important;
}

.pl-2 {
    padding-left: .5rem;
}

.login-button {
    text-align: left;
}